<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand">Noxe</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <i class="fa-solid fa-bars text-white"></i>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home" *ngIf="islogin">Home</a>
          </li>
          <li class="nav-item" *ngIf="islogin">
            <a class="nav-link" routerLink="movies">movies</a>
          </li>

          <li class="nav-item" *ngIf="islogin">
            <a class="nav-link" routerLink="tvshow">tvshow</a>
          </li>
          <li class="nav-item" *ngIf="islogin">
            <a class="nav-link" routerLink="people">people</a>
          </li>
        </ul>



        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <div class="d-flex align-items-center"> 
                <i class="fa-brands fa-facebook-f mx-2 text-white"></i>
                <i class="fa-brands fa-spotify mx-2 text-white"></i>
                <i class="fa-brands fa-instagram mx-2 text-white"></i>
                <i class="fa-brands fa-youtube mx-2 text-white"></i>
              </div>
            <li class="nav-item" *ngIf="!islogin">
              <a class="nav-link" routerLink="login" >Login</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown"  routerLink="setting" aria-expanded="false" *ngIf="islogin">
                settings
              </a>
              <ul class="dropdown-menu ">
                <li><a class="dropdown-item text-danger" routerLink="setting/privacy">privacy</a></li>
              </ul>
            </li>
            <li class="nav-item"*ngIf="islogin">
                <a class="nav-link" routerLink="logout"   (click)="logout()">Logout</a>
              </li>


              <li class="nav-item" *ngIf="!islogin">
                <a class="nav-link" routerLink="Register">Register</a>
              </li>
          </ul>





      </div>
    </div>
  </nav>