<div class="conater">
    <div class="row">
       <div class="col-lg-6 col-md-12">
        <label for="" class="text-muted my-2">First Name</label>

        <input type="text" disabled
            class="form-control bg-transparent border-0 border-bottom b-1 text-white text-center"
            [value]="dataUser.first_name">


        <label for="" class="text-muted my-2">last Name</label>

        <input type="text" disabled
            class="form-control bg-transparent border-0 border-bottom b-1 text-white text-center"
            [value]="dataUser.last_name">
       </div>
       <div class="col-lg-6 col-md-12">
        
        <label for="" class="text-muted my-2">email</label>

        <input type="text" disabled
            class="form-control bg-transparent border-0 border-bottom b-1 text-white text-center"
            [value]="dataUser.email">


        <label for="" class="text-muted my-2">age</label>

        <input type="text" disabled
            class="form-control bg-transparent border-0 border-bottom b-1 text-white text-center"
            [value]="dataUser.age">

       </div>
    </div>
</div>